<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div>
                <h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Welcome To Sms Sender</h1>
                <p>send massive sms via android device</p>
                <a class="btn btn-primary btn-lg" href="/jobs/new">Create New</a>
            </div>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% jobs.forEach(function(job){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h4><%= job.name %></h4>
                    <h4><%= job.description %></h4>
                </div>
                <p>
                    <a href="/jobs/<%= job._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>

</div>


<% include ../partials/footer %>