<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div>
                <h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Welcome To Sms Sender</h1>
                <p>send massive sms via android device</p>
                <a class="btn btn-primary btn-lg" href="/main/new">Create New</a>
            </div>


        </div>

    </header>

</div>


<% include ../partials/footer %>